/*---------------------
    VARIABLES
---------------------*/
:root{
    // Colors
    --first-color: #fff;
    --second-color: #000;
    --third-color: #0282f9;
    --fourth-color: #797979;
    --fifth-color: #303030;
    // Container size
    --container-size: 80rem;
}